<div id="signup">
<h1>Log in</h1>
    <div class="error_messages">
	<% if flash[:error] %>
		<h2>Uh oh!</h2>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
	</div>
<%= form_tag sessions_path do %>
  <p>
	Username:<br />
    <%= text_field_tag :name, params[:name] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>
</div>