// Place all the styles related to the beta_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* (c) Copyright 2012, Instagram, Inc */
form p {
  margin-bottom: 10px; }

label {
  display: block; }

input,
select,
textarea {
  border: 1px solid #ccc;
  padding: 9px 8px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }

input:focus,
select:focus,
textarea:focus {
  border-color: #999; }

label {
  font-weight: bold; }

.form-checkbox > span label span,
.form-radio > span label span {
  padding-left: 10px; }

.form-checkbox > span label span,
.form-radio > span label span {
  font-weight: normal; }

.form-basic {
  overflow: hidden; }
.form-basic fieldset {
  margin: 0 0 20px; }
.form-basic dt, .form-basic dd {
  float: left;
  display: inline; }
.form-basic dt, .form-basic dd {
  min-height: 30px; }
* html .form-basic dt, * html .form-basic dd {
  height: auto; }
.form-basic dt {
  width: 40%; }
.form-basic dd {
  width: 60%; }
.form-basic label {
  display: block; }
.form-basic input[type=text],
.form-basic select,
.form-basic textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
.form-basic input[type=text],
.form-basic textarea {
  padding: 7px 6px 5px; }
.form-basic dd.form-radio label {
  float: left;
  display: inline;
  padding: 0;
  margin-right: 1.75em; }
.form-basic dd.form-radio input {
  margin: -3px 0.75em 0 0; }
.form-basic dd.form-radio-list label {
  float: none;
  display: block; }
.form-basic dt.form-emptylabel {
  display: none; }
.form-basic dd.form-emptylabel {
  width: 100%; }
.form-basic .form-actions {
  text-align: right;
  padding: 9px 15px 10px;
  margin: 0;
  border-top: 1px solid #ccc;
  background: #eee; }

.form-basic h2 {
  font-size: 21px;
  line-height: 30px; }
.form-basic h3 {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 10px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

html, body {
  height: 100%; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased; }

body {
  background: #fff; }

a img, fieldset {
  border: none; }

fieldset {
  padding: 0; }

input[type=submit],
input.submit {
  font-weight: bold;
  width: auto !important; }

input[type=image], input.image,
input[type=radio], input.radio,
input[type=checkbox], input.checkbox {
  background: none !important;
  border: none !important;
  height: auto !important;
  width: auto !important; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

img.left {
  display: inline;
  float: left !important; }

img.right {
  display: inline;
  float: right !important; }

caption, th {
  text-align: left; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden !important; }

.visible {
  visibility: visible !important; }

@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; } }
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../webfonts/2108D9_D_0.eot");
  src: url("../webfonts/2108D9_D_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2108D9_D_0.woff") format("woff"), url("../webfonts/2108D9_D_0.ttf") format("truetype"); }

body {
  line-height: 20px;
  font-family: "ProximaNova-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

body, a, a:link, a:visited, a:hover, a:active {
  color: #fff; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, fieldset, p {
  margin: 0 0 20px; }

.cta-question {
  font-size: 27px; }

input,
.notice {
  font-size: 16px;
  font-family: "ProximaNova-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #fff; }

input {
  font-size: 15px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold; }

.negative {
  font-size: 14px; }

footer {
  font-size: 12px;
  line-height: 15px; }
footer p {
  margin: 0 0 10px; }

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.page-wrapper {
  min-height: 580px;
  min-width: 600px; }

input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 12px 12px 11px;
  width: 230px;
  -webkit-box-shadow: 0 0 0 rgba(200, 200, 255, 0);
  -moz-box-shadow: 0 0 0 rgba(200, 200, 255, 0);
  -ms-box-shadow: 0 0 0 rgba(200, 200, 255, 0);
  -o-box-shadow: 0 0 0 rgba(200, 200, 255, 0);
  box-shadow: 0 0 0 rgba(200, 200, 255, 0); }
input:active, input:focus {
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 5px rgba(200, 200, 255, 0.2);
  -moz-box-shadow: 0 0 5px rgba(200, 200, 255, 0.2);
  -ms-box-shadow: 0 0 5px rgba(200, 200, 255, 0.2);
  -o-box-shadow: 0 0 5px rgba(200, 200, 255, 0.2);
  box-shadow: 0 0 5px rgba(200, 200, 255, 0.2); }

input[type=email] {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #666; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: #666; }

input[type=submit] {
  -webkit-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  -moz-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  -ms-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  -o-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  background-color: #4982af;
  background-image: url(../images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#4982af), to(#1f5583));
  background-image: url(../images/noise.png), -webkit-linear-gradient(top, #4982af, #1f5583);
  background-image: url(../images/noise.png), -moz-linear-gradient(top, #4982af, #1f5583);
  background-image: url(../images/noise.png), -o-linear-gradient(top, #4982af, #1f5583);
  background-image: url(../images/noise.png), -ms-linear-gradient(top, #4982af, #1f5583);
  background-image: url(../images/noise.png), linear-gradient(top, #4982af, #1f5583);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$start', EndColorStr='$end');
  background-position: 50% 50%;
  width: 126px !important;
  padding: 11px 14px 12px;
  margin: 0 0 0 4px; }
input[type=submit]:active {
  background: #1d507b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.8); }

header {
  display: none; }

form {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 640px;
  height: 640px;
  margin-left: -320px;
  padding-bottom: 45px;
  text-align: center; }

.robot {
  width: 446px;
  height: 482px;
  margin: 0 auto 0;
  background: url(../images/instadroid.png) no-repeat 0 0; }

.cta-question {
  width: 534px;
  height: 64px;
  background: url(../images/cta-question.png) no-repeat 0 0;
  text-indent: -9999em;
  margin: -50px auto 18px; }

form {
  padding-bottom: 60px; }

fieldset {
  position: relative;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(200,200,255,0.1), 0 0 1px rgba(255,255,255,0.3);
  -moz-box-shadow: 0 0 10px rgba(200,200,255,0.1), 0 0 1px rgba(255,255,255,0.3);
  -ms-box-shadow: 0 0 10px rgba(200,200,255,0.1), 0 0 1px rgba(255,255,255,0.3);
  -o-box-shadow: 0 0 10px rgba(200,200,255,0.1), 0 0 1px rgba(255,255,255,0.3);
  box-shadow: 0 0 10px rgba(200,200,255,0.1), 0 0 1px rgba(255,255,255,0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 4px;
  margin: 0 auto;
  width: 360px; }
fieldset:before, fieldset:after {
  content: "";
  display: block;
  overflow: hidden; }
fieldset:after {
  clear: both; }
fieldset {
  zoom: 1; }
fieldset label {
  display: none; }
fieldset p {
  float: left;
  display: inline;
  margin: 0; }
fieldset .notice {
  -webkit-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  -moz-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  -ms-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  -o-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  box-shadow: 0 1px 0 rgba(111, 151, 182, 0.9) inset;
  background-color: #4982af;
  background-image: url(../images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#4982af), to(#1f5583));
  background-image: url(../images/noise.png), -webkit-linear-gradient(top, #4982af, #1f5583);
  background-image: url(../images/noise.png), -moz-linear-gradient(top, #4982af, #1f5583);
  background-image: url(../images/noise.png), -o-linear-gradient(top, #4982af, #1f5583);
  background-image: url(../images/noise.png), -ms-linear-gradient(top, #4982af, #1f5583);
  background-image: url(../images/noise.png), linear-gradient(top, #4982af, #1f5583);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$start', EndColorStr='$end');
  background-position: 50% 50%;
  padding: 12px 14px 11px;
  border: 1px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  display: block; }
fieldset .positive {
  background-color: #6bb38a;
  background-image: url(../images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#6bb38a), to(#3d8b5f));
  background-image: url(../images/noise.png), -webkit-linear-gradient(top, #6bb38a, #3d8b5f);
  background-image: url(../images/noise.png), -moz-linear-gradient(top, #6bb38a, #3d8b5f);
  background-image: url(../images/noise.png), -o-linear-gradient(top, #6bb38a, #3d8b5f);
  background-image: url(../images/noise.png), -ms-linear-gradient(top, #6bb38a, #3d8b5f);
  background-image: url(../images/noise.png), linear-gradient(top, #6bb38a, #3d8b5f);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$start', EndColorStr='$end');
  background-position: 50% 50%; }
fieldset .negative {
  background-color: #e8485f;
  background-image: url(../images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#e8485f), to(#b72e42));
  background-image: url(../images/noise.png), -webkit-linear-gradient(top, #e8485f, #b72e42);
  background-image: url(../images/noise.png), -moz-linear-gradient(top, #e8485f, #b72e42);
  background-image: url(../images/noise.png), -o-linear-gradient(top, #e8485f, #b72e42);
  background-image: url(../images/noise.png), -ms-linear-gradient(top, #e8485f, #b72e42);
  background-image: url(../images/noise.png), linear-gradient(top, #e8485f, #b72e42);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$start', EndColorStr='$end');
  background-position: 50% 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -70px;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.overlay {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

footer {
  text-align: center;
  width: 560px;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin: 0 0 0 -280px; }
footer a, footer span {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5; }
footer a:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  opacity: 1 !important; }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes fade-in-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95); }

  60% {
    opacity: 0.6;
    -webkit-transform: scale(1); }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-in-scale {
  0% {
    opacity: 0;
    -moz-transform: scale(0.95); }

  60% {
    opacity: 0.6;
    -moz-transform: scale(1); }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.95); }

  60% {
    opacity: 0.6;
    transform: scale(1); }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@media screen and (max-width: 680px) {
  .overlay {
    display: none; }

  body {
    min-height: 480px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -khtml-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: black url(../images/bg/body-mobile-big.jpg) repeat-x 50% 0; }
  body:before, body:after {
    content: "";
    display: block;
    overflow: hidden; }
  body:after {
    clear: both; }
  body {
    zoom: 1; }

  .page-wrapper {
    min-height: 0;
    min-width: 0;
    padding-bottom: 20px; }

  body.ios {
    background: #000; }
  body.ios .page-wrapper {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -khtml-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: black url(../images/bg/body-mobile-big.jpg) repeat-x 50% 100%; }

  .robot {
    width: 223px;
    height: 241px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%; }

  .cta-question {
    background: url(../images/cta-question-mobile.png) no-repeat 50% 50%;
    width: 240px;
    height: 64px;
    margin-top: -20px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%; }

  form {
    width: auto;
    height: auto;
    padding-bottom: none;
    position: static;
    bottom: 0;
    left: 0;
    margin: 0 10px; }

  fieldset {
    width: auto !important; }
  fieldset input, fieldset input[type=submit] {
    width: 100% !important;
    margin: 0;
    float: left;
    display: inline; }
  fieldset input[type=email] {
    border-color: #333;
    margin: 0;
    margin: 0 0 4px; }
  fieldset p {
    display: block;
    float: none; }
  fieldset p:last-child {
    margin: 0 !important; }
  fieldset .negative {
    margin-bottom: -80px !important; }

  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: auto;
    margin: 0 20px;
    padding: 0 0 20px; } }
@media screen and (min-width: 680px) {
  body {
    background: black url(../images/bg/body-big.png) repeat-x 50% 100%; }

  .overlay {
    -webkit-animation: fade-out 1.5s ease-out 3s;
    -moz-animation: fade-out 1.5s ease-out 3s;
    -ms-animation: fade-out 1.5s ease-out 3s;
    -o-animation: fade-out 1.5s ease-out 3s;
    animation: fade-out 1.5s ease-out 3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 100; }

  .robot {
    -webkit-animation: fade-in-scale 0.5s ease-out 0.5s;
    -moz-animation: fade-in-scale 0.5s ease-out 0.5s;
    -ms-animation: fade-in-scale 0.5s ease-out 0.5s;
    -o-animation: fade-in-scale 0.5s ease-out 0.5s;
    animation: fade-in-scale 0.5s ease-out 0.5s;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    -ms-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 101; }

  .cta-question {
    -webkit-animation: fade-in 0.8s ease-out 1.1s;
    -moz-animation: fade-in 0.8s ease-out 1.1s;
    -ms-animation: fade-in 0.8s ease-out 1.1s;
    -o-animation: fade-in 0.8s ease-out 1.1s;
    animation: fade-in 0.8s ease-out 1.1s;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    -ms-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 101; } }
@media screen and (min-width: 1024px) {
  body {
    background: black url(../images/bg/body-huge.png) repeat-x 50% 100%; } }
@media screen and (min-height: 800px) {
  body {
    background: black url(../images/bg/body-huge.png) repeat-x 50% 100%; } }
body.no-anim .overlay,
body.no-anim .robot,
body.no-anim .cta-question {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none; }
body.no-anim .overlay {
  display: none; }